<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATH">$${env:application.log.path:-/opt/log}</Property>
        <Property name="APP_NAME">schr</Property>
    </Properties>

    <Appenders>

        <RollingRandomAccessFile name="server"
                                 fileName="${LOG_PATH}/${APP_NAME}-server.log"
                                 filePattern="${LOG_PATH}/${APP_NAME}-server-%d{-dd-MM-yyyy}-%i.log.gz"
                                 immediateFlush="false" append="false" >
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 100 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1024 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="metrics" filename="${LOG_PATH}/${APP_NAME}-metrics.log"
                                 filePattern="${LOG_PATH}/${APP_NAME}-metrics-%d{-dd-MM-yyyy}-%i.log.gz"
                                 immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 100 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="1024 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="soap" filename="${LOG_PATH}/${APP_NAME}-soap.log"
                                 filePattern="${LOG_PATH}/${APP_NAME}-soap-%d{-dd-MM-yyyy}-%i.log.gz"
                                 immediateFlush="false" append="false" >
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 100 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="1024 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="elastic" filename="${LOG_PATH}/${APP_NAME}-elastic.log"
                                 filePattern="${LOG_PATH}/${APP_NAME}-elastic-%d{-dd-MM-yyyy}-%i.log.gz"
                                 immediateFlush="false" append="false" >
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 100 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="1024 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable">
            </PatternLayout>
        </Console>

    </Appenders>

    <Loggers>
        <!-- LOG everything at X level -->
        <Root level="info">
            <AppenderRef ref="server" level="info" />
            <AppenderRef ref="Console" level="error" />
        </Root>
        <Logger name="org.springframework.integration" level="info"/>

        <AsyncLogger name="moscow.ptnl.app.ws.interceptors.model.TreeCallStackLogger" level="info">
            <AppenderRef ref="metrics" level="info" />
        </AsyncLogger>

        <AsyncLogger name="org.apache.cxf.services" level="info">
            <AppenderRef ref="soap" level="info" />
        </AsyncLogger>
        
        <AsyncLogger name="org.springframework.data.elasticsearch.client.WIRE" level="trace">
            <AppenderRef ref="elastic" level="trace" />
        </AsyncLogger>
        <AsyncLogger name="org.elasticsearch.client" level="debug">
            <AppenderRef ref="elastic" level="debug" />
        </AsyncLogger>
        <AsyncLogger name="org.apache.http" level="debug">
            <AppenderRef ref="elastic" level="debug" />
        </AsyncLogger>

    </Loggers>

</Configuration>